@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Hepta Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.gridelayout{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.mainheader{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.mainheader ul{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    list-style: none;  
}
.underline{
    text-decoration: none;
    color: black;
}
.logo{
   height: 70px; 
}
.headerbutton{
    color: white;
    padding: 10px 40px;
    background-color: #124A2F;
    border-radius: 10px;
    border: none;
}
.headerbutton:hover{
    background-color: white;
    color: #124A2F;
    border: 2px solid #124A2F;
}
.underline:hover{
    color: #124A2F;
}

/* header section ends here  */


.contacthero{
    background: url(./Images/6.hero.png) no-repeat;
    padding: 320px 0px;
    background-size: cover;
    color: white;
    text-align: center;
}
.contacthero h1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}
.contacthero p{
    font-size: 20px;
}

/* hero section ends here  */

.contactmain{
    text-align: center;
}
.contactmain h2{
    font-size: 32px;
    font-weight: bold;
    color: #124A2F;
    margin-top: 50px;
}
.contactmain p{
    font-size: 20px;
    color: #4E4E4E;
    margin: 0px 80px 70px 80px;
}
.dot{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #2AB939;
    display: inline-block;
    margin: 20px 0px;
}


.contactmain2{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    color: #124A2F;
    margin-bottom: 80px;
}
.contactmain2 h4{
    font-weight: bold;
    font-size: 24px;
    margin: 15px 0px;
}
.contactmain2 p{
    margin-bottom: 5px;
    font-weight: bold;
}


/* form section starts here  */

.formmain{
    background: url(./Images/6.getintouch.png) no-repeat top center;
    padding: 150px 0px;
    border-radius: 20px;
    background-size: cover;
    margin-bottom: 100px;
    text-align: center;
}
.formmain h2{
    font-size: 30px;
    color: #F3F6F4;
    font-weight: bold;
    margin-bottom: 20px;
}
.formsubmit{
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    margin: 15px 0px 0px 0px;
    color: #124A2F;
    font-weight: bold;
    /* margin: 20px 0px 0px 400px; */
}
.formname,.formemail,.formnumber,.formservice{
    border: none;
    width: 230px;
    padding: 10px 20px;
    outline: none;
    margin: 10px 0px;
    margin-right: 20px;
    color: #124A2F;
    background-color: #D9D9D9;
}
.formmessage{
    width: 530px;
    margin-right: 20px;
    outline: none;
    border: none;
    padding: 20px;
    margin-top: 10px;
    background-color: #D9D9D9;

}


/* footer section starts here  */

footer {
    background-color: black;
    color: white;
    height: 450px;
    width: auto;
    margin-top: 120px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footermain1 {
    margin-left: 50px;
}

.footermain1 h4 {
    color: #00ffff;
    font-size: 30px;
    margin: 90px 0px 40px 0px;
}

.footermain1 p {
    margin-bottom: 35px;
}

.coprights::before {
    content: "\00A9";
    color: white;
}

.arrow dd::before {
    content: "\2192";
    color: #2EDBE5;
    margin-right: 5px;
}

.socialmedia {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footermain2 {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 50px;
    margin-right: 120px;
    margin-top: 85px;
    margin-bottom: 80px;
}

.footermain2 dd {
    margin: 20px 0px;
}

.footerchild3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px;
}

.footerchild3 ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

hr {
    margin: 0px 30px;
}
